#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
}

.cell {
    box-sizing: border-box;
    flex-grow: 1;
    aspect-ratio: 1;
    background-color: #aaa;
}