body {
    margin: 0;
    padding: 0;
}

.controls {
    max-width: 800px;
    margin: auto;
    padding: 10px 0;
}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    background-color: #000;
    margin: auto;
}

.cell {
    box-sizing: border-box;
    flex-grow: 1;
    aspect-ratio: 1;
    background-color: #aaa;
    opacity: 0;
}